/* ----- Screen Sizes ----- */

$screen-x-large: 1440px; // Desktop
$screen-large: 1200px; // Desktop
$screen-medium: 1024px; // Tablet
$screen-small: 640px; // Smartphone

/* ----- Colors ----- */

$color-text: #feeadd;
$color-muted: #989898;
$color-background: #0c0c0c;

$color-primary: #f76808;

$color-online: #3bb33b;

$color-surface: $color-text;
$color-element-background: rgba($color-surface, 0.05);

/* ----- Fonts ----- */

$font-body: 'Outfit', sans-serif;

$font-size-heading: 24px;
$font-size-medium: 20px;
$font-size-body: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;

$line-height-body: 1.6;
$line-height-heading: 1.2;

$text-regular: 400;
$text-medium: 500;

/* ----- Spacings ----- */

$space-x-small: 4px;
$space-smaller: 8px;
$space-small: 12px;
$space-normal: 16px;
$space-medium: 24px;
$space-large: 32px;
$space-x-large: 56px;

$size-side-menu: 200px;

/* ----- Radii ----- */

$radii-x-small: 4px;
$radii-small: 8px;
$radii-normal: 12px;
$radii-default: 24px;
$radii-full: 999px;

/* ----- Animations ----- */

$animation-duration: 150ms;

/* ----- Mixins ----- */

@mixin with-transition() {
  @media (prefers-reduced-motion: no-preference) {
    transition-duration: $animation-duration;
    transition-timing-function: ease-in-out;
  }
}

@mixin with-outline($color: $color-surface) {
  @include with-transition();
  transition-property: outline-color;

  outline: 2px solid transparent;
  outline-offset: 2px;

  &:focus-visible {
    outline-color: rgba($color, 0.1);
  }
}

@mixin with-common-interaction($color: $color-surface) {
  @include with-outline($color);
  transition-property: outline-color, background-color, color;

  &:not(:disabled):hover {
    background-color: rgba($color, 0.1);
    color: $color;
  }
}

@mixin base-section() {
  display: flex;
  flex-direction: column;
  gap: $space-smaller;

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > h2 {
      color: $color-text;
      font-size: $font-size-medium;
      font-weight: $text-medium;
      letter-spacing: 0.5px;
    }

    > a {
      @include with-common-interaction();

      display: flex;
      align-items: center;
      justify-content: center;
      gap: $space-x-small;

      font-size: $font-size-normal;
      color: $color-muted;

      height: 32px;
      padding: 0 $space-small;
      border-radius: $radii-small;

      @media screen and (max-width: $screen-medium) {
        margin-right: -$space-small;
      }
    }
  }
}

/* ----- Classes ----- */

.center-content {
  width: 100%;
  max-width: $screen-x-large;

  margin: 0 auto;
}

.games-list {
  display: grid;

  $game-padding: 8px;

  margin: 0 (-$game-padding);

  @media screen and (max-width: $screen-medium) {
    display: flex;

    overflow-x: auto;

    padding: $game-padding $space-normal;
    margin: (-$game-padding) (-$space-medium);

    scroll-snap-type: x mandatory;
    scroll-padding: 0 $space-normal;
  }

  > a {
    @include with-common-interaction;
    transition-property: outline-color, transform, background-color;

    display: flex;
    flex-direction: column;
    gap: $space-normal;

    padding: $game-padding;

    border-top-left-radius: $radii-default;
    border-top-right-radius: $radii-default;

    border-bottom-left-radius: $radii-normal;
    border-bottom-right-radius: $radii-normal;

    overflow: hidden;

    outline: none;

    &:hover,
    &:focus-visible {
      transform: translateY(-4px);
      background-color: $color-element-background;
    }

    @media screen and (max-width: $screen-medium) {
      width: 360px;
      flex-shrink: 0;

      scroll-snap-align: start;
    }

    @media screen and (max-width: $screen-small) {
      width: 320px;
    }

    > img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: $radii-default;
    }

    > footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $space-normal;

      > span {
        font-size: $font-size-normal;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: $color-text;
      }

      > .category {
        display: inline-flex;
        align-items: center;
        gap: $space-smaller;

        color: $color-text;

        font-size: $font-size-small;

        height: 28px;
        padding: 0 $space-small;
        border-radius: $radii-small;

        background-color: $color-element-background;
      }
    }
  }
}

/* ----- Utils ----- */

[data-tooltip] {
  position: relative;

  &:not(:disabled):hover, &:focus-visible {
    &::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &::after {
    @include with-transition;
    transition-property: opacity, transform;

    content: attr(data-tooltip);

    opacity: 0;
    transform: translateY(-2px);

    position: absolute;
    top: calc(100% + 8px);

    align-self: center;
    justify-self: center;

    max-width: 200px;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: $font-size-small;
    line-height: $line-height-body;
    color: $color-text;

    padding: $space-x-small 6px;
    border-radius: $radii-x-small;
    background-color: darken($color-background, 5%);

    pointer-events: none;

    z-index: 1;
  }
}

/* ----- Default Styles ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-family: $font-body;

  scroll-behavior: smooth;
}

html {
  color-scheme: dark;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $color-background;
}

h1, h2, h3, h6, button {
  font-weight: $text-medium;
  line-height: $line-height-heading;
}

span, strong, p, button, a, small {
  line-height: $line-height-body;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  color: $color-text;
  background-color: rgba($color-primary, 0.9);
}

img, a, button {
  user-select: none;
}

button:not(:disabled) {
  cursor: pointer;
}
